.specialiti__item--features {
  min-width: 270px;
  min-height: 75px;
}

.specialiti__title-features {
  margin-bottom: 10px;
  color: var(--title-color-dark);
}
.specialiti__text-features {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71em;
  color: var(--text-color-dark);
}
