.input {
  color: var(--akcent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
