.social-links {
  @include flex(flex, center, null);
}
.social-links__item {
  @include flex(flex, center, center);
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.social-links__icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  padding: 12px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
