.specialiti {
  display: flex;
}
.specialiti__item {
  margin-right: 30px;
  &:nth-child(4n + 4) {
    margin-right: 0px;
  }
}
.specialiti__icons {
  background-color: var(--background-color);
  margin-bottom: 30px;
  height: 120px;
  padding: 25px 100px;
}
.specialiti__blok-text-elements {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
