:root {
  --hover-focus-color-others: #2196f3;
  --hover-focus-color-importmant-button: #188ce8;
  --akcent-color: #2196f3;
  --title-color-light: #ffffff;
  --title-color-dark: #212121;
  --text-color-dark: #757575;
  --contacts-color-dark: #757575;
  --contacts-color-light: rgba(255, 255, 255, 0.6);
  --logo-word-dark: #000000;
  --logo-word-light: #ffffff;
  --text-color-light: #ffffff;
  --border-color: #ececec;
  --background-color: #f5f4fa;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
